.car-figure { margin-bottom: 3rem; box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.25); }
.car-figure img { width: 100%; height: 400px; background-color: #ccc; }
.car-figure figcaption { padding: 0.75rem 1rem; background-color: #fff; font-size: 2rem; font-weight: 200; }
.fieldset.car,
.fieldset.car > .field { display:flex; align-items: center; justify-content: center; }
.fieldset.car { margin-bottom: 1rem; }
.fieldset.car > .field { margin-right: 2rem; margin-bottom: 0; }
.fieldset.car > .field .label { margin-right: 1rem; margin-bottom: 0; } 
.fieldset.car > .actions-toolbar button { margin: 0; }